/* app */
/* .container-0 {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  border: var(--border-off);
} */

.container-1 {
  background-color: rgb(0, 119, 255);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 620px;
  height: auto;
  padding: 20px 0 20px;
  padding-bottom: 25px;
  border-radius: 0px;
  border: var(--border-off);
}

/* topbuttons */
.container-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  margin: 0 6px;
  border: var(--border-off);
}

.container-3:hover {
  cursor: pointer;
}

.container-3 {
  background: none;
  font-size: medium;
  border: var(--border-off);
}

/* inputs */
::placeholder {
  padding-left: 4px;
}

.container-4 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container-5 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.container-6 {
  color: var(--color-black);
  margin: 0 10px;
}

.container-6::first-letter {
  text-transform: capitalize;
}

.container-7,
.container-8 {
  cursor: pointer;
  transition: all 1s ease-out;
  margin-right: 10px;
}

.container-7:hover,
.container-8:hover {
  width: 15px;
  height: 15px;
}

.container-9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-left: 20px;
  border: var(--border-off);
}

.container-10 {
  background: none;
  font-size: var(--font-size-16);
  cursor: pointer;
  transition: all 1s ease-out;
  border: none;
}

.container-10:hover {
  font-size: var(--font-size-20);
}

.container-10-1 {
  font-size: var(--font-size-20);
}

/* timeandlocation */
.container-11 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  border: var(--border-off);
}

.container-13 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: var(--border-off);
}

/* temperatureanddetails */
.container-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  border: var(--border-off);
}

.container-15::first-letter {
  text-transform: uppercase;
}

.container-16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: var(--border-off);
}

.container-16::first-letter {
  text-transform: uppercase;
}

.container-17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: var(--border-off);
}

.container-18,
.container-19,
.container-20 {
  flex-basis: 33.33%;
}

.container-18 {
  width: 130px;
  margin: -20px 0;
  border: var(--border-off);
}

.container-19 {
  font-size: 60px;
  text-align: center;
  padding-right: 42.5px;
  margin: -20px;
  border: var(--border-off)
}

.container-20 {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 20px;
  border: var(--border-off);
}

.container-21,
.container-24,
.container-28 {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  border: var(--border-off);
}

.container-31 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 20px;
  margin: 0 10px 10px 10px;
  border: var(--border-off);
}

/* forecast */
.container-36 {
  width: auto;
  padding: 0 16.5px;
}

.container-37 {
  display: flex;
  align-items: center;
  justify-content: start;
  border: var(--border-off);
}

.container-38 {
  text-transform: uppercase;
  word-spacing: 7px;
  font-weight: bold;
  margin: 15px auto 10px auto;
  line-height: 10px;
  border: var(--border-off);
}

.container-39 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  border: var(--border-off);
}

.container-40 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  align-items: center;
  padding-bottom: 5px;
}

.container-41 {
  height: 20px;
}

.container-42 {
  height: 80px;
}

/* devices breakpoints - extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

  .container-1 {
    width: 360px;
    height: auto;
    font-size: var(--font-size-10);
  }

  /* topbuttons */
  .container-2 {
    margin: 5px 0;
  }

  .container-3 {
    font-size: var(--font-size-8);
  }

  /* inputs */
  ::placeholder {
    font-size: var(--font-size-10);
    margin-bottom: 3px;
  }

  .container-4 {
    margin: 10px 0px;
  }

  input {
    margin: 0 5px;
    height: 20px;
  }

  .container-7,
  .container-8 {
    margin-right: 5px;
  }

  .container-7:hover,
  .container-8:hover {
    width: 10px;
    height: 10px;
  }

  .container-9 {
    height: 12px;
    margin-left: 10px;
    margin-top: 5px;
  }

  .container-10 {
    font-size: var(--font-size-14);
  }

  .container-10:hover {
    font-size: var(--font-size-14);
  }

  .container-10-1 {
    font-size: var(--font-size-14);
  }

  /* timeandlocation */
  .container-11 {
    height: 7px;
    margin: 3px 0;
  }

  .container-13 {
    height: 20px;
  }

  /* temperatureanddetails */
  .container-15 {
    height: 15px;
  }

  .container-18 {
    width: 130px;
    margin: -10px 0;
  }

  .container-19 {
    font-size: 30px;
    padding-right: 21px;
    margin: -10px;
  }

  .container-20 {
    margin-right: 10px;
  }

  .container-21,
  .container-24,
  .container-28 {
    margin-top: 5px;
    font-size: var(--font-size-9);
  }

  .container-31 {
    font-size: var(--font-size-9);
    height: 10px;
    margin: 0 5px 5px 5px;
  }

  /* forecast */
  .container-36 {
    padding: 0 8px;
  }

  .container-38 {
    word-spacing: 5px;
    margin: 7px auto 5px auto;
    line-height: 5px;
  }

  .container-39 {
    padding: 0 10px;
  }

  .container-41 {
    height: 10px;
  }

  .container-42 {
    height: 40px;
  }
}