@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-size-8: 8px;
    --font-size-9: 9px;
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --color-white: white;
    --color-yellow: yellow;
    --color-blue: blue;
    --color-black: black;
    --border-off: none;
    --border-on: 2px solid red;
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--color-white);
    margin: 0;
    box-sizing: border-box;
}